body {
  min-height: 100vh;
  min-width: 100vh;
  background-color: #12181f;
  background-image: url('/assets/fundo.png');
  color: white;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: center;
}

.labels {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  position: relative;
  display: flex;
  top: 40px;
  margin-bottom: 50px;
  width: 400px;
  height: 150px;
}

div.p1 {
  width: 300px;
  text-align: center;
  flex: 0 0 50%
}

div.p2 {
  width: 300px;
  flex: 1;
  text-align: center;
}

.actions button {
    padding: 8px 16px;
    font-size: 30px;
    border-radius: 10px;
    background-color: #27ae60;
    color: white;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 240px);
  grid-template-rows: repeat(3, 240px);
}

.card {
  height: calc(240px);
  width: 240px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.front-image {
  width: 240px;
  height: 240px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .back {
  background-image: url('assets/pt_d_tras.png');
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(180deg);
}

/*Detalhes da pag inicial */

.login {
  height: 100%;
  width: 100%;
  position: center;
}

.login_box {
  width: 1050px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
}

.login_box .left {
  width: 41%;
  height: 100%;
  padding: 25px 25px;
}

.login_box .right {
  width: 59%;
  height: 100%;
  margin-top: 30px;
}

.left .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100%;
  width: 100%;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.left input {
  border: none;
  width: 80%;
  margin: 15px 0px;
  border-bottom: 1px solid #4f30677d;
  padding: 7px 9px;
  width: 100%;
  overflow: hidden;
  background: floralwhite;
  font-weight: 600;
  font-size: 20px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 100%;
  width: 100%;
  
}

.image-button {
  width: 500px;
  height: auto; /* Mantém a proporção da imagem */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  border: none; /* Remove qualquer borda padrão */
  display: block; /* Garante que a imagem se comporte como um bloco */
  transition: transform 0.3s ease; /* Adiciona uma transição suave ao efeito de transformação */
}

.image-button:hover {
  transform: scale(1.1); /* Aumenta ligeiramente a imagem ao passar o mouse */
}

